# Django core
django==5.1.2
djangorestframework
gunicorn
# Environment configuration
python-dotenv

# AI integrations
cohere
google-generativeai
langchain
langchain-unstructured
langchain-community
langchain-google-genai
beautifulsoup4
# Supabase
supabase

# OCR & image processing
pytesseract
pillow
langdetect

# File & content handling
python-magic
youtube-transcript-api

# Production & middleware
whitenoise
django-cors-headers

# Optional: PostgreSQL support (uncomment if needed)
# psycopg2-binary

