Django==5.1.2
djangorestframework
gunicorn
python-dotenv
whitenoise
django-cors-headers

langchain==0.1.13
langchain-google-genai
google-generativeai
cohere
supabase
langdetect

pytesseract
Pillow
PyPDF2
python-magic
youtube-transcript-api
unstructured==0.10.30

tiktoken
requests
openai
filetype
markdown
