# Django and DRF
django==5.1.2
djangorestframework

# WSGI server
gunicorn

# Environment management
python-dotenv

# Supabase
supabase

# File and document handling
PyPDF2
python-docx
python-pptx
python-magic

# AI & language models
langchain
langchain-unstructured[all-docs]
langchain-community
langchain-google-genai
cohere
google-generativeai
beautifulsoup4

# OCR & image processing
pillow
pytesseract
langdetect

# YouTube transcript
youtube-transcript-api

# Static files & CORS
whitenoise
django-cors-headers
